.inlineblock {
  display: inline-block;
}

.margin2px {
  margin: 2px;
}

#addpicbutton {
  margin: auto auto auto 6px;
  height: 75px;
  width: 48px;
}

#addpicinputdiv {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 90%;
}

#addpicpanel {
  box-shadow: inset 0 0 10px rgb(21, 61, 80);
}

#addpicpanel .panel-body {
  max-width: 600px;
  margin: auto;
}

#addpicpanelbody {
  display: flex;
}

#addpicservicemessage {
  color: salmon;
}