#root {
  font-family:
      -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  width: 100%;
}

#app-main {
  margin: 0.3% auto;
  min-width: 300px;
  max-width: 926px;
}

.shadow {
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

.transparent {
  background-color: transparent;
}